<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buscar ciudad</title>
  </head>
  <body>
    <div class="jumbotron">
  <h1 class="display-4">¡Bienvenido!</h1>
  <p class="lead">Busca una ciudad para ver el clima.</p>
  <hr class="my-4">

<div class="input-group mb-3">
  <input type="text" class="form-control" id="ciudad" placeholder="Poné el nombre de la ciudad, por ejemplo 'Córdoba' (sin tildes)" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" onclick="redireccionar()" type="button">Button</button>
  </div>
</div>
</div>
<script type="text/javascript">
function redireccionar() {
  var ciudadinput = document.getElementById('ciudad').value
  window.location.replace("/?city=" + ciudadinput);
}
</script>
  </body>
</html>
